
.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

form {
  height: 22rem;
}

.list-container {
  min-height: 25rem;
}

.table-img {
  height: 4rem;
  width: auto;
}

.chat-results {
  height: 10rem;
  overflow: scroll;
}